
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

section {
    margin: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: rgb(23, 138, 214);
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-top: 5px;
    margin-top: 5px;
}
h2 {
    padding-top: 5px;
    margin-top: 5px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  .navbar-light .navbar-brand {
    color: #dc3545;
}

.navbar-light:hover .navbar-brand:hover {
    color: #d8d8d8;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: #dc3545;
}

.navbar-light:hover .navbar-nav:hover .nav-link.disabled:hover {
    color: #d8d8d8;
}

.navbar-light .navbar-nav .nav-link {
    color: #dc3545;
}

.navbar-light .navbar-toggler {
    color: #dc3545;
    border-color: #35d6dc;
}

.nav-link {
    color: #dc3545;
}

.nav-link:hover {
    color: #d8d8d8;
 }